<canvas>

</canvas>
<form action="/invitef/<%= ins._id%>" method="post">
	<input id="back" value="<%= ins.url %>" style="display: none;" >
<input id="img" value="<%= ins.image %>" style="display: none;" >
<input id="x" name="x" style="display: none;" >
<input id="y" name="y" style="display: none;">
	<button style="width:200px ;height:30px;border: none; background:rgb(115, 194, 251);margin: 10px 0 15px 0">
		Done
	</button>
</form>
<script type="text/javascript" src="/canvas.js"></script>