<%- include("partials/header") %>
<div  style="margin: 0 auto;text-align:center;">
<h1 style="margin: 0 auto; text-align:center;background:black; height: 50px; color:white; font-size:46px;text-shadow:4px 4px 4px rgb(0, 128, 255)">
	THE FESTEMBER'S ELITES
</h1>
	<div >
		<div  style="width:;text-align:center;margin: 50 auto;text-shadow:4px 4px 4px white;font-size:20px;background:white; ">
		<h1>
			The Place Where The Member's<br>
		Can Invite People To their <br>
		Events 
		</h1>
	</div>
	<div style="width:250px;text-align:center;margin: 50 auto; border:2px solid black;">
		<form action="/login" method="POST" style="width:230px;text-align:center;margin: 10 auto; border:2px solid white;" >
	<input type="text" name="username" placeholder="username" style="width:200px;height:30px;margin: 15px 0 10px 0">
	<input type="password" name="password" placeholder="password" style="width:200px ; height:30px;margin: 10px 0 10px 0">
	<button style="width:200px ;height:30px;border: none; background:rgb(115, 194, 251);margin: 10px 0 15px 0">
		login
	</button>
</form>
		<h2 style="color:white">
		Don't Have An Account
	</h2>
<a href="/signup">
   <button style="width:200px ; margin: 0 auto;height:30px;text-align:center; border: none; margin: 1px 0 10px 0;background:rgb(115, 194, 251)">
		Sign Up!!
	</button>	
</a>
	</div>
</div>
	</div>
<%- include("partials/footer") %>