<%- include("partials/header") %>
<div style="margin:0 0 0 0;background:orange">
<h1 style="margin: 0 auto; text-align:center;background:black; height: 33px; color:orange; font-size:28px;text-shadow:3px 3px 3px red">
	THE FESTEMBER'S ELITE'S Sign Up Page
</h1>
<form action="/signup" method="POST" style="width:220px;text-align:center;margin: 20 auto; border:1px solid black;" >
	<input type="text" name="username" placeholder="username" style="width:200px;height:30px;margin: 10px 0 1ppx 0">
	<input type="text" name="password" placeholder="password" style="width:200px ; height:30px;margin: 10px 0 10 px 0">
	<input type="email" name="email" placeholder="email" style="width:200px ; height:30px;margin: 10px 0 10 px 0">
	<button style="width:200px ;height:30px;border: none; margin: 10px 0 10px 0;background:rgb(115, 194, 251)">
		Sign In!!
	</button>
</form>
</div>
<%- include("partials/footer") %>